

:root {
    --md-primary-fg-color: #765bfa;
    --md-accent-fg-color: #AEA1F1;
  }
.md-nav__title, .md-nav__link  {
    font-size: 16px; 
}

.md-tabs__link  {
    font-size: 16px; 
}

.md-header__title {
    font-size: 20px; 
    margin-left: 0px !important;
}

.md-content img {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    outline-width: 1px;
    outline-style: solid;
    outline-color: darkgray;
  }
