[config]
model="gpt-4"
fallback_models=["gpt-3.5-turbo-16k"]
git_provider="github"
publish_output=true
publish_output_progress=true
verbosity_level=0 # 0,1,2
use_extra_bad_extensions=false
use_repo_settings_file=true
ai_timeout=180

[pr_reviewer] # /review #
require_focused_review=true
require_score_review=false
require_tests_review=true
require_security_review=true
num_code_suggestions=3
inline_code_comments = false
ask_and_reflect=false
extra_instructions = ""

[pr_description] # /describe #
publish_description_as_comment=false
extra_instructions = ""

[pr_questions] # /ask #

[pr_code_suggestions] # /improve #
num_code_suggestions=4
extra_instructions = ""

[pr_update_changelog] # /update_changelog #
push_changelog_changes=false
extra_instructions = ""

[pr_config] # /config #

[github]
# The type of deployment to create. Valid values are 'app' or 'user'.
deployment_type = "user"
ratelimit_retries = 5

[gitlab]
# URL to the gitlab service
url = "https://gitlab.com"

# Polling (either project id or namespace/project_name) syntax can be used
projects_to_monitor = ['org_name/repo_name']

# Polling trigger
magic_word = "AutoReview"

# Polling interval
polling_interval_seconds = 30

[local]
# LocalGitProvider settings - uncomment to use paths other than default
# description_path= "path/to/description.md"
# review_path= "path/to/review.md"